# OpenAI API Key (Required)
GOOGLE_API_KEY=AQ.Ab8RN6IlNuI1ACmz20m7z-In0IS0x9ARx6ZdF7l-Tig2ipD0dA
MODEL_NAME=gemini-3-flash-preview

# Custom API Base URL (Optional)
# OPENAI_BASE_URL=https://api.openai.com/v1

# Model Name (Optional, default: gpt-4o)
# MODEL_NAME=gpt-4o
